/** Colors **/
:root {
    --basic-grey: #32425C;
    --basic-dark-grey: #293449;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-light-grey: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-beige: #F9F5F0;
    --white: #FFFFFF;
    --special-dark-grey: #161D29;
    --special-dark-green: #518534;
    --special-yellow: #FFBF47;
    --special-yellow-2: #FFC047;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-bright-green: #00CA74;
    --special-yellowlight: #FFDA96;
    --special-dark-red: #CA2C37;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --black: black;
    --background-light-grey: #F1F1F1;
    --special-grey: #D7DCDE;
    --special-deep-grey: #ababab;
    --special-light-grey : #EAEAEA;
    --light-grey: #E5E5E5;
    --grey: #A9A9A9;
    --basic-transparant-grey: #F4F4F4;
    --border-grey: #B5B5B5 ;
    --grey-shadow:  rgba(0, 0, 0, 0.15);
}

/** Global **/

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
  }

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.display-none {
    display: none;
}

/** Grid **/

.page {
    height: 100%;
  }

.container {
    width: 940px;
    margin: 0 auto 0 auto;
}


/** Button **/

.button {
    background-color: var(--basic-red);
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background-color: var(--special-dark-red) ;
}

.button:active {
    background-color: var(--error);
}

/** Header **/

.main-header {
    background-color: var(--basic-background);
    color: var(--white);
    padding-bottom: 60px;
}

.header-bar {
    background-color: var(--basic-dark-grey);
    width: 100%;
}

.header-container {
    height: 42px;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.logo-link {
    width: 220px;
    height: 43px;
    margin: 0;
    padding: 0;
}

.main-header-logo {
    width: 220px;
    height: 47px;
    margin: 0;
    padding: 0;
}

.header-account {
    color: var(--white);
    display: flex;
    align-items: center;
    height: 42px;
}

.user-navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.main-navigation {
    background-color: var(--basic-grey);
}

.site-navigation {
    margin: 0;
    padding: 16px 29px 14px 29px;
    border-bottom: solid 5px var(--basic-dark-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bookmark-link {
    position: relative;
    padding: 12px 25px 9px 43px;
}

.bookmark-link-catalog {
    padding: 11px 39px 11px 44px;
}

.bookmark-link::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 14px;
    left: 20px;
    opacity: 0.3;
}

.cart-link {
    position: relative;
    padding: 9px 27px 9px 49px;
}

.cart-link-checked {
    background-color: var(--basic-red);
    border: none;
    padding: 10px 22px 11px 35px;
}

.cart-link::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 26px;
    top: 11px;
    opacity: 0.3;
}

.cart-link-checked::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 12px;
    top: 13px;
    opacity: 0.3;
}

.bookmark-link:hover::before , .cart-link:hover::before {
    opacity: 1;
}

.bookmark-link:active, .cart-link:active, .bookmark-link:active span, .cart-link:active span {
    background-color: var(--special-dark-grey);
    color: rgba(255, 255, 255, 0.5);
}

.bookmark-link:active::before, .cart-link:active::before {
    opacity: 0.3;
}

.order-link {
    background-color: var(--basic-green);
    padding: 9px 16px 9px 19px;
    text-align: center;
    display: block;
}

.order-link:hover {
    background-color: var(--success);
}

.order-link:active {
    background-color: var(--basic-green);
    color: rgba(255, 255, 255, 0.5);;
}

.search-container {
    flex: 1;
    display: flex;
    position: relative;
    height: 100%;
}

.search-svg {
    position: absolute;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}

.input-search {
    color: var(--white);
    height: 100%;
    width: 100%;
    flex: 1;
    border: none;
    padding: 9px 0 9px 42px;
    background-color: var(--basic-dark-grey);
    outline: none;
}

.input-search::placeholder {
    color: var(--white);
}

.input-search:hover + .search-svg {
    opacity: 1;
}

.input-search:active + .search-svg {
    opacity: 0.3;
}

.input-search:active::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-search:focus {
    background-color: var(--white);
    color: var(--black);
}

.input-search:focus::placeholder {
    color: var(--black);
}

.input-search:focus + .search-svg {
    opacity: 1;
}

.input-search:focus + .search-svg path {
    fill: var(--basic-red);
}

.site-navigation a , .user-navigation a , .user-navigation-item span {
    color: var(--white);
}

.user-navigation-item span {
    font-size: 18px;
}

.site-navigation, .user-navigation {
    list-style-type: none;
}

.header-about {
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-info {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
    text-transform: none;

    width: 197px;
    margin: 0 0 0 30px;
    padding: 42px 0 42px 0;
}

.header-contacts {
    color: var(--basic-grey);
    margin-left: auto;
    padding: 46px 0 38px 0;
    display: flex;
    flex-direction: column;
}

.phone-img {
    margin-left: 16px;
}

.header-contacts-phone {
    border: solid var(--white) 3px;
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    padding: 4px 45px 5px 72px;
    text-align: center;
    height: 45px;
    position: relative;
    box-sizing: border-box;
}

.header-contacts-phone::before {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    position: absolute;
    top: 10px;
    left: 39px;
}

.header-contacts-adress {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.user-links {
    justify-self: end;
    padding: 46px 0 67px 0;
    display: flex;
    height: 45px;
    margin-left: 69px;
}

.user-link {
    margin: 0;
    padding: 0;
}

.user-link:hover {
    color: var(--basic-red);
}

.user-link:active {
    color: var(--basic-light-grey);
}

.enter-link {
    background-color: var(--white);
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    padding: 12px 27px 12px 45px;
    position: relative;
    box-sizing: border-box;
}

.enter-link svg {
    position: absolute;
    top: 14px;
    left: 19px;
}

.regisration-link {
    background-color: var(--white);
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    padding: 12px 24px 12px 24px;
    margin-left: 10px;
    box-sizing: border-box;
}

.enter-link:hover, .regisration-link:hover {
    color: var(--basic-red);
}

.enter-link:active, .regisration-link:active {
    color: var(--basic-light-grey);
}


.enter-link:hover path {
    fill: var(--basic-grey);
}

.enter-link:active path {
    fill: var(--basic-light-grey);
}

.site-navigation-item a {
    width: 100%;
    padding: 16px 25px 20px 25px;
}

.site-navigation-item a:hover {
    background-color: var(--basic-dark-grey);
}

.site-navigation-item a:active {
    background-color: var(--special-dark-grey);
    color: rgba(255, 255, 255, 0.5);
}


/**Features**/

.features {
    margin-top: 59px;
    margin-bottom: 59px;
}

.features-list {
    list-style-type: none;
    color: var(--white);
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

.feature-slider {
    grid-column:  1 / 3;
    grid-row: 2 / 4;
    min-width: 620px;
}

.features-item {
    max-width: 300px;
    padding: 21px 0 21px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.features-link {
    display: inline;
    color: var(--white);
    background-color: rgba(255,255,255, 0.3);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    max-width: 115px;
    margin: 0;
    padding: 10px;
}

.features-link:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.features-link:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.features-materials {
    background-color: var(--special-yellow);
    background-image: url("../img/icon-paint.svg");
    background-repeat: no-repeat;
    background-position-x: 213px;
    background-position-y: 31px ;
}

.new-item {
    position: relative;
}

.new-item::after {
    content: "new";
    background-color: var(--basic-red);
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    top: 8px;
    right: -26px;
    transform: rotate(45deg);
}

.features-tool {
    background-color: var(--special-blue);
    background-image: url("../img/icon-drel.svg");
    background-repeat: no-repeat;
    background-position-x: 194px;
    background-position-y: 34px ;
}

.features-technics {
    background-color: var(--special-lilac);
    background-image: url("../img/icon-auto.svg");
    background-repeat: no-repeat;
    background-position-x: 191px;
    background-position-y: 31px ;
}

.features-sales {
    background-color: var(--special-greenlight);
    background-image: url("../img/icon-sale.svg");
    background-repeat: no-repeat;
    background-position-x: 196px;
    background-position-y: 26px ;
}

.features-delivery {
    background-color: var(--special-yellow);
    background-image: url("../img/icon-delivery.svg");
    background-repeat: no-repeat;
    background-position-x: 191px;
    background-position-y: 32px ;
}

.feature-slider {
    margin: 0;
    padding: 0;
    position: relative;
}

.features-perforator {
    background-color: var(--basic-beige);
    background-image: url("../img/drells.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

.features-drill {
    background-color: var(--basic-beige);
    background-image:  url("../img/perforators.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

.slider-title-background {
    background: rgba(0, 0, 0, 0.25);
    padding: 23px 0 16px 24px;
    height: min-content;
}

.slider-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.slider-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.slider-button {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

.slider-button-left {
    position: absolute;
    left: 20px;
    bottom: 98px;
    background: transparent;
    border: none;
}

.slider-button-right {
    position: absolute;
    right: 15px;
    bottom: 104px;
    background: transparent;
    border: none;
    transform: rotate(180deg);
}

.slider-bullets {
    display: flex;
    min-width: 30px;
    position: absolute;
    bottom: 36px;
    left: 295px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-bullet {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--white);
    border: solid 2px var(--white);
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.bullet-active {
    background-color: var(--basic-red);
}

.slider-bullet-item {
    margin-right: 10px;
}

.slider-bullet-item:last-child {
    margin-right: 0;
}

.catalog-button {
    padding: 11px 46px 9px 46px;
    width: max-content;
}

/**Popular, Manufacturer**/

.manufacturer {
    margin-top: 70px;
}

.popular-button {
    padding: 11px 24px 9px 24px;
}

.section-title {
    color: var(--basic-grey);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.section-bar {
    background-color: var(--basic-beige);
    padding: 25px 14px 30px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manufacturer-bar {
    background-color: var(--basic-beige);
    padding: 25px 19px 30px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-list, .manufacturer-list, .products-list-catalog {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 17px;
}

.products-list-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 18px;
    margin-top: 8px;
}

.products-item {
    border: solid 1px var(--special-light-grey);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 220px;
    min-height: 318px;
    padding: 0 17px 21px 18px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-item:focus {
    outline: none;
}

.products-item:focus .products-buttons,
.products-item:focus-within .products-buttons {
    display: block;
}

.products-item-catalog {
    border: solid 1px var(--special-light-grey);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 220px;
    min-height: 318px;
    padding: 0 17px 21px 18px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
}

.products-item-catalog:focus {
    outline: none;
}

.products-item-catalog:focus .products-buttons,
.products-item-catalog:focus-within .products-buttons {
    display: block;
}

.products-item img {
    width: 184px;
    height: 164px;
    object-fit: scale-down;
    box-sizing: content-box;
}

.products-item-catalog img {
    width: 184px;
    height: 164px;
    object-fit: scale-down;
    margin-bottom: 5px;
    box-sizing: content-box;
}

.products-buttons {
    background-color: var(--white);
    position: absolute;
    display: none;
    padding-bottom: 6px;
    margin-top: -4px;
}

.products-item:hover, .products-item-catalog:hover {
    box-shadow: 0 4px 20px var(--grey-shadow);
}

.products-item:hover .products-buttons {
    display: block;
}

.products-item-catalog:hover .products-buttons {
    display: block;
}

.product-description {
    margin-top: 0;
    padding-top: 8px;
}

.products-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
}

.title-bosh-three, .title-bosh-two {
    padding-right: 3px;
}

.title-catalog-bosh-three, .title-catalog-bosh-two {
    margin-top: -2px;
    margin-left: -4px;
}

.old-price {
    color: var(--basic-light-grey);
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 13px ;
    position: relative;
}

.old-price::after {
    content: "";
    width: 100%;
    background-color: var(--basic-light-grey);
    height: 1px;
    position: absolute;
    bottom: 19px;
    left: 0;
}

.old-price-hidden {
    display: block;
    visibility: hidden;
    padding-bottom: 15px;
}

.actual-price {
    display: inline-block;
    background-color: var(--basic-red);
    border-radius: 3px 0 0 3px;
    color: var(--white);
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    margin-left: -9px;
    padding: 10px 24px 10px 32px;
    max-width: 141px;
    position: relative;
}

.actual-price::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent var(--basic-red);
    position: absolute;
    top: 0;
    right: -20px;
}

.actual-first-price {
    margin-left: -5px;
}

.products-bosh-nine {
    padding-top: 5px;
}


.product-bosh-three {
    margin-left: -14px;
}

.product-bosh-two {
    margin-left: -13px;
}

.product-bosh-six {
    margin-left: -11px;
}

.products-item .product-bosh-six {
    padding-bottom: 4px;
    margin-top: 2px;
}

.products-item .product-bosh-three {
    padding-bottom: 6px;
}

.products-item .product-bosh-two {
    padding-bottom: 6px;
}

.products-item .products-bosh-nine {
    padding-bottom: 2px;
}

/** Products Popup  **/

.cart-success-popup {
    position: fixed;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%,-50%); */
    margin-left: -293px;
    top: 240px;

    width: 620px;
    height: 282px;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0px 4px 20px var(--grey-shadow);

    border-top: solid var(--basic-red) 7px;

    display: none;
}

.success-message {
    margin: 0;
    padding: 66px 100px 67px 174px;
}

.success-text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    position: relative;
}

.success-text::before {
    content: "";
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    position: absolute;
    left: -93px;
    top: -18px;
}

.success-buttons {
    background-color: var(--background-light-grey);
    padding: 37px 112px 37px 114px;
}

.success-order {
    border: none;
    padding: 11px 46px 9px 47px;
    margin-right: 5px;
}

.success-next {
    background-color: var(--white);
    color: var(--black);
    border: none;
    padding: 11px 31px 9px 32px;
}

.success-close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: transparent;
    border: none;
}
.succes-close:hover {
    background-color: transparent;
}


/**  Manufacturer **/

.manufacturer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 16px;
}

.manufacturer-button {
    padding: 11px 38px 9px 38px;
}

.manufacturer-item {
    border: solid 1px var(--special-light-grey);
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manufacturer-item:hover {
    box-shadow: 0 4px 20px var(--grey-shadow);
}

.manufacturer-item:active {
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px var(--grey-shadow));
}

.manufacturer-item:active img {
    opacity: 0.5;
}


/** Services **/

.services-bar {
    background-color: var(--basic-background);
    height: 522px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 69px;
    padding: 64px 0 0 0;
}

.services-title {
    color: var(--black);
    margin-bottom: 25px;

    grid-column: 1 / -1;
}

.services-subtitle {
    grid-column: 1 / -1;
}

.section-subtitle {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.services-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    position: relative;
}

.services-buttons::after {
    content: "";
    width: 10px;
    height: 279px;
    background-image: url(../img/line.png);
    position: absolute;
    right: 0;
    top: -49px;
}

.services-button {
    border: none;
    background-color: var(--basic-grey);
    color: var(--white);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    width: 240px;
    height: 61px;
    padding: 0 0 0 22px;
    margin: 0;
    text-align: left;
    border-top: solid 1px #405069;
    border-bottom: solid 1px #293449;
}

.services-button:hover {
    background-color: var(--basic-dark-grey);
}

.services-button:active {
    background-color: var(--white);
    color: var(--basic-grey);
}

.services-checked {
    background-color: var(--white);
    color: var(--basic-grey);
    pointer-events: none;
    border-top: solid 1px var(--white);
    border-bottom: solid 1px var(--white);
    
}

.services-content {
    margin: 0;
    padding: 69px 0 99px 80px;
}

.content-title {
    margin-bottom: 30px;
}

.content-delivery {
    background-image: url("../img/layer-delivery.png");
    background-repeat: no-repeat;
    background-position-x: 231px;
    background-position-y: 90px;
    padding-bottom: 128px ;
}

.content-garantee {
    background-image: url("../img/layer-garantee.png");
    background-repeat: no-repeat;
    background-position-x: 319px;
    background-position-y: 66px;
    padding-bottom: 113px;
}

.garantee-title {
    margin-bottom: 25px;
}

.content-credit {
    background-image: url("../img/layer-credit.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-x: 245px;
    background-position-y: 68px;
    padding-bottom: 116px;
    width: 710px;
}

.button-request {
    padding: 9px 44px 10px 45px;
    margin-top: 26px;
}

/** Promo **/

.promo-contacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 70px 0 70px 0;
    width: 940px;
    position: relative;
}

.promo {
    display: flex;
    flex-direction: column;
}

.promo-title {
    color: var(--black);
    margin-bottom: 23px;
}

.promo-subtitle-first {
    margin-bottom: 27px;
}

.promo-subtitle-second {
    margin-bottom: 2px;
}

.transport-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.transport-item {
    margin-bottom: 12px;
    padding-left: 37px;
    position: relative;
}

.transport-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    top: 12px;
    left: 0;
}

.button-promo {
    width: 220px;
    box-sizing: border-box;
    padding: 11px 40px 9px 39px;
}

/** Contacts **/

.contacts {
    justify-self: end;
    display: flex;
    flex-direction: column;
}

.contacts-title {
    color: var(--black);
    margin-bottom: 24px;
}

.contacts-map {
    display: block;
    margin: 34px auto 17px auto;
}

.button-map {
    padding: 11px 61px 9px 62px;
}

/** Footer **/

.main-footer {
    background-color: var(--basic-grey);
    color: var(--white);
}

.footer-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 54px;
}

.footer-about-adress {
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin: 0;
    padding: 16px 0 0 2px;
    width: 323px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-logo {
    order: -2;
}

.footer-menu-about, .footer-menu-products {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-menu-about {
    order: -1;
    padding-top: 38px;
    margin-left: 70px;
}

.footer-menu-products {
    padding: 21px 0 20px 91px;
}

.footer-menu-about a {
    color: var(--basic-background);
}

.footer-menu-products a {
    color: var(--special-yellowlight);
}

.footer-contacts {
    background-color: var(--basic-dark-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.footer-contacts-design {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding-top: 35px;
    padding-bottom: 29px;
}

.footer-adress-and-developers {
    display: flex;
    padding-bottom: 6px;
    margin-left: 15px;
    line-height: 18px;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.footer-social-list {
    list-style-type: none;
    margin: 0 auto;
    margin-top: -1px;
    margin-left: 77px;
    padding: 0;
    width: 160px;

    display: flex;
}

.social-item {
    background-color: var(--special-dark-grey);
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin-right: 4px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-vk {
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-fb {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-inst {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-item:hover {
    background-color: var(--basic-red);
}

.footer-adress {
    margin: 0;
    padding: 0;
}

.footer-developers {
    grid-column: 6 / 7;
    justify-content: center;
    margin: 0 13px 0 51px;
}

.footer-adress a, .footer-developers a {
    color: var(--special-yellowlight);
}

.menu-about-item a:hover, .menu-products-item a:hover {
    text-decoration: underline;
}

.menu-about-item a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.menu-products-item a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link:active {
    text-decoration: none;
    color: var(--basic-red);
}

/** Catalog header **/

.user-order a, span {
    color: var(--basic-grey);
    font-size: 16px;
}

.header-login {
    width: 299px;
    height: 45px;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: var(--black);
    padding: 11px 14px 12px 14px ;
    box-sizing: border-box;
}

.login-link {
    position: relative;
    top: 2px;
    display: flex;
}

.exit-link {
    position: relative;
    top: 2px;
    left: -2px;
}

.header-login a {
    margin: 0;
    padding: 0;
}

.login-name {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin: 0 20px 0 20px;
    padding: 0;
    color: var(--black);
}

.login-link:hover path {
    fill: var(--basic-grey);
}

.login-link:active path {
    fill: var(--basic-light-grey);
}

.login-link:active .login-name {
    color: var(--basic-light-grey);
}

.exit-link:hover path {
    fill: var(--basic-grey);
}

.exit-link:active path {
    fill: var(--basic-light-grey);
}

.user-menu {
    padding: 46px 0 42px 50px;
    margin: 0;
    height: 70px;
}

.user-order {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin: 4px auto 0 auto;
}

/** Catalog Bread crumbs **/

.bread-crumbs-list {
    list-style-type: none;
    margin: 0;
    padding: 18px 0 18px 0;
    display: flex;
    flex-wrap: wrap;
}

.bread-crumbs-item {
    margin-right: 41px;
    position: relative;
}

.bread-crumbs-item::after {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
    position: absolute;
    right: -25px;
    top: 6px;
}

.bread-crumbs-item:last-child::after {
    display: none;
}

.bread-crumbs-list a {
    color: var(--black);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-header {
    background-color: var(--basic-background);
    padding: 29px 0 30px 29px;
    margin-bottom: 20px;
}

/** Catalog grid **/

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.section-filter {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.section-sort {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-products {
    grid-column: 2 / -1;
    grid-row: 2 / 3 ;
    margin-bottom: 11px;
}

.section-pagination{
    padding-top: 28px;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/** Catalog filter, sort **/

.section-filter, .section-sort  {
    text-transform: uppercase;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.form-filter fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

.filters-titles, .section-sort {
    background-color: var(--basic-beige);
    color: var(--black);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.filter-title {
    padding: 10px 0 10px 18px;
}
.sort-title {
    margin-right: 140px;
}
.section-sort {
    padding: 9px 14px 10px 20px;
    height: min-content;
}

.filter-manufacturer-list, .filter-power-list, .sort-type  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-manufacturer-list li, .filter-power-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

.filter-legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: var(--black);
}

/** Range filter price **/

.filter-price {
    font-size: 17px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    border: none;
}

.filter-price .filter-legend {
    padding: 14px 0 10px 0; 
}

.range-filter {
    width: 220px;
}

.range-controls {
    height: 80px;
    background-color: var(--basic-beige);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 39px 20px 0 20px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--special-grey);
}

.range-controls .bar {
    background-color: var(--special-bright-green);
    width: 80%;
    height: 2px;
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: var(--special-deep-grey);
    border: 8px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    position: absolute;
    top: 29px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: solid 1px var(--special-light-grey);
}

.price-controls input {
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--basic-beige);
    border: none;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    width: 95px;
}

/** Filter manufacturer **/

.filter-manufacturer-list {
    padding-bottom: 8px;
    border-bottom: solid 1px var(--special-light-grey);
    margin-bottom: 18px;
}

.filter-manufacturer .filter-legend {
    padding: 16px 0 17px 0;
}

.filter-item {
    padding-left: 35px;
    margin-bottom: 20px;
}

.filter-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-item label::before {
    content: "";
    width: 19px;
    height: 19px;
    background-color: var(--white);
    border: solid 2px var(--basic-light-grey);
    border-radius: 3px;
    position: absolute;
    top: -2px;
    left: -35px;
}

.filter-item-input:hover + label::before {
    border: solid 2px var(--border-grey);
}

.filter-item-input:disabled + label::before {
    border: solid 2px var(--border-grey);
    opacity: 0.3;
}

.filter-item-input:disabled + label::after {
    opacity: 0.3;
}

.filter-item-input:disabled + label {
    color: var(--border-grey);
    opacity: 0.3;
}

.filter-item-input:checked + label::before {
    display: none;
}

.filter-item-input:checked + label::after {
    content: "";
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg") ;
    background-position: left;
    position: absolute;
    top: -2px;
    left: -35px;
}

.filter-item-input:checked:hover + label::after {
    background-image: url("../img/checkbox-hover.svg");
}

.filter-item-input:checked:disabled + label::after {
    background-image: url("../img/checkbox-hover.svg");
    opacity: 0.3;
}

.filter-item-input:focus + label::before {
    outline: auto;
}

.filter-item-input:focus + label::after {
    outline: auto;
}

/** Filter power **/

.filter-power-list {
    padding-top: 23px;
    padding-bottom: 15px ;
}

.filter-power-item {
    padding-bottom: 22px;
    padding-left: 35px;
}

.filter-power-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-power-item label::before {
    content: "";
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    background-color: var(--white);
    border: solid 4px var(--basic-light-grey);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -35px;
}

.filter-power-input:checked + label::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--basic-light-grey);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -27px;
}

.filter-power-input:hover + label::before {
    border: solid 4px var(--border-grey);
}

.filter-power-input:checked:hover + label::after {
    background-color: var(--border-grey);
}

.filter-power-input:disabled + label::before {
    border: solid 4px var(--border-grey);
    opacity: 0.3;
}

.filter-power-input:disabled + label {
    color: var(--border-grey);
    opacity: 0.3;
}

.filter-power-input:focus + label::before {
    outline: auto;
}

.filter-button {
    background-color: var(--white);
    width: 100%;
    border: 1px solid var(--special-light-grey);
    padding: 10px 0 10px 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

/** Section sort **/

.section-sort {
    background-color: var(--basic-beige);
}

.section-top ,  .sort-type {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.down-item {
    transform: rotate(180deg);
}

.down-item path {
    fill: var(--basic-light-grey);
}

.sort-type {
    font-size: 13px;
    line-height: 18px;
    display: flex;
    width: 443px;
}

.sort-price {
    margin-left: -2px;
}

.sort-sort {
    margin-left: 70px;
}

.sort-funtion {
    margin-left: 66px;
}

.sort-buttons {
    margin-left: auto;
}

.sort-buttons-links {
    display: flex;
    justify-content: space-between;
    width: 43px;
    margin-right: 2px;
}

.sort-link {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dashed var(--basic-red) 1px;
}

.sort-link:hover {
    color: var(--black);
    border-bottom: solid var(--basic-red) 1px;
}

.sort-link:active {
    color: var(--basic-red);
    border: none;
}

.sort-active a {
    color: var(--basic-red);
    border: none;
}


/** Catalog products**/


.button-buy {
    background-color: var(--basic-green);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 #367315;
    margin: 38px 44px 10px 41px;
    padding: 0;
    padding-left: 14px;
    position: relative;

    min-width: 135px;
    min-height: 38px;
}

.button-buy::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
    position: absolute;
    left: 29px;
    top: 9px;
}

.button-buy:hover {
    background-color: var(--success);
}

.button-buy:active {
    background-color: var(--special-dark-green);
    outline: none;
}

.button-bookmarks {
    background-color: var(--white);
    border: solid 3px var(--basic-green);
    font-family: 'Cuprum', 'Arial', sans-serif;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    color: var(--basic-grey);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;

    width: 135px;
    height: 38px;

}

.button-bookmarks:hover {
    border-color: var(--basic-grey);
}

.button-bookmarks:active {
    border-color: rgba(50, 66, 92, 0.5);
    color: rgba(50, 66, 92, 0.5);
    outline: none;
}

/** Catalog info **/

.catalog-info {
    background-color: var(--basic-background);
    margin-top: 59px;
    padding-top: 75px;
    padding-bottom: 68px;
}

.info-header {
    color: var(--black);
    margin-bottom: 22px;
}

.info-subtitle {
    line-height: 25px;
}

/** Pagination **/

.pagination {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.pagination-link {
    color: var(--black);
    border: 1px solid var(--light-grey);
    padding: 10px 15px 10px 15px;
    margin-right: 9px;
}

.pagination-next {
    padding: 10px 31px 10px 31px;
}

.pagination-link:hover {
    border: 1px solid var(--basic-light-grey);
}

.pagination-link:active {
    border: 1px solid var(--basic-red);
}

.pagination-active a {
    border: 1px solid var(--basic-red);
    background-color: var(--basic-red);
    color: var(--white);
    pointer-events: none;
}

/** Popup mail **/

.mail-popup {
    width: 620px;
    height: 430px;
    border-top: solid 7px var(--basic-red);
    padding: 39px 0 0 0;
    box-shadow: 0 4px 20px 0 rgba(34, 60, 80, 0.15);
    box-sizing: border-box;
    background-color: var(--white);
    position: fixed;
    
    left: 50%;
    top: 240px;
    margin-left: -318px;
   
    display: none;
}

.mail-list {
    list-style-type: none;
    margin: 0;
    padding: 0 80px 24px 80px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mail-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    padding-bottom: 13px;
}

.mail-item:nth-child(3) {
    flex-grow: 1;
}

.mail-item input, .mail-item textarea {
    width: 100%;
    border: 2px solid var(--basic-light-grey);
}

.mail-item label {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 11px;
}

.mail-item ::placeholder {
    color: var(--grey);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 13px;    
    line-height: 24px;
}

.mail-name {
    padding: 7px 8px 7px 12px;
    box-sizing: border-box;
}

.mail-email, .mail-text {
    padding: 7px 10px 7px 12px;
    box-sizing: border-box;
}

.mail-text {
    height: 114px;
}

.mail-button-bar {
    padding: 37px 80px 37px 80px;
    background-color: var(--basic-transparant-grey);
}

.mail-button-send {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 11px 0 9px 0;
    width: 100%;
    border: none;
}

.mail-button-close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 11px;
    background-color: transparent;
    border: none;
}

.mail-button-close:hover {
    background-color: transparent;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }

/** Popup map **/

.map-popup {
    border-top: solid 7px var(--basic-red);
    box-shadow: 0 4px 20px 0 rgba(34, 60, 80, 0.15);
    width: 943px;
    height: 449px;
    box-sizing: border-box;

    position: fixed;
    top: 240px;
    left: 49%;
    margin-left: -467px;

    display: none;
}

.map-frame {
    width: 943px;
    height: 449px;
}

.map-button-close {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.map-button-close:hover {
    background-color: transparent;
}

.popup-show {
    display: block;
    animation: bounce 0.6s;
}

.mail-error {
    animation: shake 0.6s;
  }
